.DS_Store
._*
__pycache__/
*.pyc
*.pyo
*.log
*.log.*
.pytest_cache/
*.egg-info/

**/cmake-build*/
**/build*/
temp/
**/.jax_cache/
**/.thumbs
**/output/*
**/outputs/*
**/videos/*
**/wandb/*
**/.neptune/*
**/docs/_build/*
**/generated/*
**/runs/*
**/logs/*
**/recordings/*
*.tmp
*.onnx
datasets/
source/isaaclab/
_isaac_sim*
_repo/
_build/
.lastformat

!mockService/uniubi_mock/vendor/
!mockService/uniubi_mock/vendor/**
